// 1_layouts/layout1.scss

.layout1 {
  width: 100%;
  .nested-test1 { // nested 사용
    font-size: $font-size-root; // 변수 사용
  }
}

// 헤더 바 레이아웃
.sub-tool-bar{
  border-bottom: 1px solid #f5f5f5;
}
//서치
.search-bar{
  .v-toolbar__content{
    .v-input__control{
      min-height: 40px !important;
    }
  }
}

.v-subheader{
  padding: 0 0 0 19px !important; font-size: 15px !important;
}
.v-bottom-navigation{
  .v-btn{
    min-width: auto !important;
    .v-icon{
      font-size:27px;
    }
  }
}

.bottom-footer{
  background:#F6F7F9;
  padding-bottom: 54px !important;
  margin-top:40px !important;
}


.section{
  border-bottom: 15px solid #f5f5f5 !important;
  padding-top: 10px;
  padding-bottom:10px;
  border-radius: 0 !important;

}
.section:last-child{border-bottom:none !important;}

.row {
  color: $color-main; // 변수 사용
}

input{
  color:#ababab !important;
  font-size: 13px;
}

// 730px 초과 시 슬라이드 pagination 노출
@media(min-width:730px){
  .prd-slide-wrap{

    padding: 7px 50px 7px 40px !important;

    .v-slide-group__prev,.v-slide-group__next{display: block !important;}
  }
  .v-overlay{width: 730px; margin: 0 auto;}

}
@media(min-width: 960px){
  .container{
    max-width: 100% !important;
  }
}
